body{
	background: #2c3e50;
	margin: 0px;
	border: 0px;
}



#header{
	width: auto;
	height: 170px;
	background: #34495e;
	color: white;
	text-align: center;
}
#sidemenu{
	float: left;
	width: 300px;
	background: #34495e;
	color: white;
	
}
#data{
	width: auto;
	background:#2c3e50;
	color: white;
	padding-left:330px;
	text-align: 
}
#head_img{
	background:white;
	border-radius:50px;
}
#sidemenu.ul li{
	display: inline-block;
	padding-bottom: 10px;
	
}
li{
	padding-bottom: 30px;
	border-bottom: 3px solid grey;
}
li:hover {
	background: black;
	color: white;
	padding-left:10px;
    -moz-transition: padding-left .3s ease-in;
    -o-transition: padding-left  .3s ease-in;
    -webkit-transition: padding-left  .3s ease-in;
    transition: padding-left  .3s ease-in;
}
a{
	text-decoration:none;
	color:white;
}